
/* carousel */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



nav a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all .2s;
}

nav a:hover {
    color:#000;
}

.active {
    color:#000

}

.visible {
    background-color: #3A0F3C;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    transition: all .2s;
}x


.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }
  
  .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }



body {
    background-color:#fff;
}

a { color: inherit; } 


/* General Styling  */


/* Footer Styling */


/* portfolio section */

.portfolio-gallery-img {
    padding-top:15px;
}



.hero-portfolio {
    background:#10525C;



}
.hero-amerisk {
    background:#BABABA;
}

h1.hero{
    text-transform: uppercase;
    color:#fff;
    padding-top:80px;
}

.hero h5{
    text-transform: uppercase;
    color:#fff;

}

.hero p {
        color:#fff;
    
}

/* font styling */ 

h1 h2 h3 h4 h5 {
    font-family: 'Montserrat', sans-serif;

}

p {
    font-family:'Montserrat', sans-serif;
}




.portfolio-item {
background-image: url("img/.portfolio-item-1.jpg")
}

/* Big half circle */
#bigHalfCircle path {
fill:#10525C ;
stroke:#10525C;
}

.portfolio-color {
    background:#10525C;
}

.portfolio-title-light h2  {
color:#fff;
text-transform: uppercase;
font-family: 'fjalla one'

}

.portfolio-title-light p  {
    color:#fff;
    font-family: 'Montserrat', sans-serif'
    
    }

.portfolio-title-dark h2  {
        color:#000;
        text-transform: uppercase;
        font-family: 'fjalla one'
}
.portfolio-title-dark p  {
        color:#000;
        font-family: 'Montserrat', sans-serif'
        
        }

.portfolio-square{
    background: #10525C;
    background-repeat: no-repeat;
    content: '';
    display: block;
    z-index: -1;
    width: 100%;
}

.portfolio-img-container {
    width:100%;
    height:400px;

}

.portfolio-item-full {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.portfolio-carousel {
  background: #10525C;
}


.story-told {
    padding-top: 100px;
}

   .slider-title  {
    font-family: 'fjalla one';
    Color:#fff;
}

.btn-clear {
    background-color:transparent;
    width: 220px;
    color:#fff;
    border: 4px solid #fff;
    border-radius: 6px;
    height: 50px;
    font-family: 'Merriweather';
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    cursor: pointer;
    transition: all .2s;
   

}

.btn-clear:hover {
    background-color:#fff;
    color:#000;
  }


  /* services styles */

  .services-hero {
      background-color: #DD7119;
  }

  .hero h1 {
      text-transform: uppercase;
      font-family:"";
      color: #fff;
  }

  .service {
      height:300px;
      background-color:#52B6B6;
  }


  /* divider styling */ 

  #divider {
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
  }

  /* about styling */
.about-hero {
    background-color: #4E1851;
}

.companies-about {
    background-color: #132448;
}